body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(bottom, rgb(102,204,255) 38%, rgb(2,102,253) 100%);
background-image: -o-linear-gradient(bottom, rgb(102,204,255) 38%, rgb(2,102,253) 100%);
background-image: -moz-linear-gradient(bottom, rgb(102,204,255) 38%, rgb(2,102,253) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(102,204,255) 38%, rgb(2,102,253) 100%);
background-image: -ms-linear-gradient(bottom, rgb(102,204,255) 38%, rgb(2,102,253) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.38, rgb(102,204,255)),
	color-stop(1, rgb(2,102,253))
);
overflow-x: hidden;
    
}
.eyes {
    background: url("../images/eyes.png") no-repeat scroll 0 0 transparent;
    height: 90px;
    left: 393px;
    position: absolute;
    top: 80px;
    width: 265px;
    z-index: 2000;
}
.init{
  display: none;
  
}
.sun.init,.balloon.init{
    opacity: 0;
}
.sun{
    background-image: url(../images/sun.png);
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 587px;
    height: 587px;
}
#indicator{
    background-color: #fff;
     border-radius: 5px;
       padding: 10px;
       margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 64px;
    height: 64px;
}


.clouds { 
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 900px;
    height: 416px;
    overflow: hidden;
 z-index: 70;
    
    background: transparent url(../images/clouds.png) repeat-x;

}
.grass { 
    z-index: 200;
     position: absolute;
    bottom: 0;
    left: -100px;
    width: 150%;
   top:auto!important;
    height: 110px;
    background: transparent url(../images/grass.png) repeat-x;

}
.owl {
    left: -10px;
    position: absolute;
    top: 189px;
    z-index: 200;
}
.balloon{
    background-image: url(../images/balloon.png);
    width: 273px;
    height: 181px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top:-85px;
    font-family: 'Finger Paint', cursive;
        
}
.balloon .text{
    text-align: center;
    color:#000;
    text-shadow: 0px 1px 0px #fff;
}
